<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kyo-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{64,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{64,90}}</string>
                <key>sourceSize</key>
                <string>{68,98}</string>
            </dict>
            <key>Kyo-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{106,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{106,92}}</string>
                <key>sourceSize</key>
                <string>{112,98}</string>
            </dict>
            <key>Kyo-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{102,86}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{102,86}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>Kyo-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{64,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{64,90}}</string>
                <key>sourceSize</key>
                <string>{64,98}</string>
            </dict>
            <key>Kyo-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{109,92}}</string>
                <key>sourceSize</key>
                <string>{113,98}</string>
            </dict>
            <key>Kyo-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{103,86}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{103,86}}</string>
                <key>sourceSize</key>
                <string>{107,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kyo.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb7112a7c6399d05adcf735c2826cf60:1/1$</string>
            <key>textureFileName</key>
            <string>kyo.png</string>
        </dict>
    </dict>
</plist>
